# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.venv_viz

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Quarto
_site/
.quarto/
/.quarto/
*_files/

.vscode/
.claude/
**/*.quarto_ipynb
